<section  id="branches" class="p-5 text-center bg-black text-white">
    <div id="sucursales"> </div>
    <h3 class="fw-bold text-center mb-4">Nuestra Sucursal</h3>
    <p id="texto" class="text-center mb-4">Conoce nuestra ubicacion en Aguascalientes:</p>

    <div class="branches-grid single-branch">
      <!-- Sucursal 1 -->
        <div class="branch">
            <h4 class="branch-title">GROM 21</h4>
            <p class="address">San Mateo #2, Col Alcázar, Mcpio, 20908 Jesús María, Ags.</p>
          
            <p class="schedule">
              <i class="bi bi-clock"></i> 
              Horario: Lun a Vie 6 a.m.–11 p.m., Sáb 6 a.m.–2 p.m., Domingo cerrado
            </p>
          
            <p class="phone">
              <i class="bi bi-telephone"></i> Tel: 449 733 9693
            </p>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.5332950061133!2d-102.31494269999999!3d21.952486300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ef085bbd8fb9%3A0xaeb0fbbf79668ee8!2sGROM%2021%20Fitness%20center!5e0!3m2!1ses-419!2smx!4v1745724246609!5m2!1ses-419!2smx" 
              width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
          </div>
          
    </div>
    <h3 class="fw-bold mt-5 upcoming-title">Próximamente nuevas ubicaciones 🚀</h3>
    <div id="texto" class="upcoming-branches">
        <p>Estamos trabajando en nuevas sucursales en diferentes puntos de la ciudad.</p>
        <p>¡Pronto anunciaremos más detalles!</p>
    </div>
</section>