<section id="social" class="container py-5" style="background-color: #222; color: white;">
  <h3 class="text-center mb-4 mat-headline">¡Síguenos en nuestras Redes Sociales!</h3>
  <p class="text-center mb-4">Conéctate con nosotros y no te pierdas de ninguna novedad, estilo y promociones
    exclusivas.</p>

  <mat-divider></mat-divider>

  <mat-card class="my-4" style="background-color: #333;">
    <mat-card-header>
      <i class="fab fa-instagram" style="font-size: 24px; color: #ff6600;"></i>
      <span class="ml-2 instagram-text">Instagram</span>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; justify-content: center;">
        <!-- Embed Instagram Post -->
        <iframe src="https://www.instagram.com/p/CdtFCIEFu7q/embed" width="850" height="750" frameborder="0"
          scrolling="no" allowtransparency="true" style="border: none; border-radius: 10px;"></iframe>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- TikTok -->
  <mat-card class="my-4" style="background-color: #333;">
    <mat-card-header>
      <i class="fab fa-tiktok" style="font-size: 24px; color: #ff6600;"></i> <!-- Ícono de TikTok -->
      <span class="ml-2 tiktok-text">TikTok</span>
    </mat-card-header>

    <mat-card-content>
      <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@grom_fitnesscenter"
        data-unique-id="grom_fitnesscenter" data-embed-type="creator" style="max-width: 780px; min-width: 288px;">
        <section> <a target="_blank" href="https://www.tiktok.com/@grom_fitnesscenter">grom_fitnesscenter</a> </section>
      </blockquote>
      <script async src="https://www.tiktok.com/embed.js"></script>
    </mat-card-content>

  </mat-card>


  <!-- Facebook -->
  <mat-card class="my-4" style="background-color: #333;">
    <mat-card-header>
      <i class="fab fa-facebook" style="font-size: 24px; color: #ff6600;"></i> <!-- Ícono de Facebook -->
      <span class="ml-2 facebook-text">Facebook</span>
    </mat-card-header>
    
<mat-card-content>
  <!-- Contenedor para centrar -->
  <div style="display: flex; justify-content: center; width: 100%; padding: 10px;">
    <div class="fb-page" data-href="https://www.facebook.com/gromfitnesscenter" data-tabs="timeline"
      data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
      style="width: 100%; max-width: 500px; min-width: 320px;">
      <blockquote cite="https://www.facebook.com/gromfitnesscenter" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/gromfitnesscenter">GROM Fitness Center</a>
      </blockquote>
    </div>
  </div>
</mat-card-content>


  </mat-card>
</section>
<br>