<div style="height: 4px; background-color: #ff7f00; width: 100%;"></div>
<footer class="custom-footer text-white pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">
      <!-- Sección 1 -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #ff7f00;">GROM FITNESS CENTER</h5>
        <p>Tu centro de entrenamiento de confianza. Transformación física y bienestar. 2025.</p>
      </div>

      <!-- Sección 2 -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #ff7f00;">Explora</h5>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Inicio</a></p>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Servicios</a></p>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Planes de Membresía</a></p>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Contacto</a></p>
      </div>

      <!-- Sección 3 -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #ff7f00;">Ayuda</h5>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Soporte</a></p>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Términos</a></p>
        <p><a href="#" class="text-white text-decoration-none" style="color: #ff7f00;">Política de Privacidad</a></p>
      </div>

      <!-- Sección 4 -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #ff7f00;">Contacto</h5>
        <p><i class="fas fa-home mr-3" style="color: #ff7f00;"></i> San Mateo#2, Col Alcazar, Mcpio, 20908 Jesús María, Ags., México</p>
        <p><i class="fas fa-phone mr-3" style="color: #ff7f00;"></i> +52 449 733 9693</p>
        <!-- Interpolacion-->
        <p><i class="fas fa-envelope mr-3" style="color: #ff7f00;"></i> {{ email }}</p>
      </div>
    </div>

    <hr class="mb-4" style="border-color: #ff7f00;">

    <!-- Redes Sociales -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2025 <strong>GROM FITNESS CENTER</strong> | Todos los derechos reservados.</p>
        <p><strong>PROYECTO ESCOLAR UAA | ISC </strong> </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/gromfitnesscenter/?locale=es_LA" target="_blank" style="border-color: #ff7f00; color: #ff7f00;"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/gromfitnesscenter/?hl=es" target="_blank" style="border-color: #ff7f00; color: #ff7f00;"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.tiktok.com/@grom_fitnesscenter" target="_blank" style="border-color: #ff7f00; color: #ff7f00;"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>