<br>
<section id="creditos" class="credit-section">
<h3 id="creadores" class="title">¡EQUIPO!</h3>
<p class="subtitle">Equipo de Desarrollo y Diseño</p>
    <div class="credit-box">
    
      <div class="credit-item" 
        [ngStyle]="currentStylePepe"
        (mouseenter)="onMouseEnterPepe()" 
        (mouseleave)="onMouseLeavePepe()">
        <p>🎮 Jose Alberto Vazquez Guerrero</p>
        <img src="img/Responsables/pepe.png" alt="Jose Alberto Vazquez Guerrero">
      </div>
      
      <div class="credit-item" 
        [ngStyle]="currentStyleLuis"
        (mouseenter)="onMouseEnterLuis()" 
        (mouseleave)="onMouseLeaveLuis()">
        <p>🎮 Luis Antonio García Gómez</p>
        <img src="img/Responsables/luis.png" alt="Luis Antonio García Gómez">
      </div>
      
      <div class="credit-item" 
        [ngStyle]="currentStyleRicardo"
        (mouseenter)="onMouseEnterRicardo()" 
        (mouseleave)="onMouseLeaveRicardo()">
        <p>🎮 Ricardo Padilla Hernández</p>
        <img src="img/Responsables/ricardo.jpg" alt="Ricardo Padilla Hernández">
      </div>

      <p class="creator-info">🎓 Proyecto de Tesis / Seminario</p>
      <p class="creator-info">🏋️ GROM Fitness Center</p>
      <p class="creator-info">💻 Ingeniería en Sistemas Computacionales</p>
    </div>
  </section>
  <br><br>
  