<br>
<section id="creditos" class="credit-section">
<h3 id="creadores" class="title">¡EQUIPO!</h3>
<p class="subtitle">Equipo de Desarrollo y Diseño</p>
    <div class="credit-box">
    
        <div class="credit-item" 
        [ngStyle]="currentStyleAbraham"
        (mouseenter)="onMouseEnterAbraham()" 
        (mouseleave)="onMouseLeaveAbraham()">
        <p>🎮 Jesus Abraham Robledo Lopez</p>
        <img src="img/Responsables/abraham.png" alt="">
      </div>
      
      <div class="credit-item" 
        [ngStyle]="currentStylePepe"
        (mouseenter)="onMouseEnterPepe()" 
        (mouseleave)="onMouseLeavePepe()">
        <p>🎮 Jose Alberto Vazquez Guerrero</p>
        <img src="img/Responsables/pepe.png" alt="">
      </div>
      
      <div class="credit-item" 
        [ngStyle]="currentStyleLuis"
        (mouseenter)="onMouseEnterLuis()" 
        (mouseleave)="onMouseLeaveLuis()">
        <p>🎮 Luis Antonio Gonzales Garcia</p>
        <img src="img/Responsables/luis.png" alt="">
      </div>
      
        <div class="credit-item" 
     [ngStyle]="currentStyleMarco"
     (mouseenter)="onMouseEnterMarco()" 
     (mouseleave)="onMouseLeaveMarco()">
  <p>🎮 Marco Antonio Olivares Guzman</p>
  <img src="img/Responsables/marco.jpeg" alt="">
</div>

<div class="credit-item" 
     [ngStyle]="currentStyleCarlos"
     (mouseenter)="onMouseEnterCarlos()" 
     (mouseleave)="onMouseLeaveCarlos()">
  <p>🎮 Carlos Vicente Muñoz</p>
  <img src="img/Responsables/carlos.jpg" alt="">
</div>

<div class="credit-item" 
     [ngStyle]="currentStyleRicardo"
     (mouseenter)="onMouseEnterRicardo()" 
     (mouseleave)="onMouseLeaveRicardo()">
  <p>🎮 Ricardo Padilla Hernandez</p>
  <img src="img/Responsables/ricardo.jpg" alt="">
</div>

<div class="credit-item" 
     [ngStyle]="currentStyleAbrahamR"
     (mouseenter)="onMouseEnterAbrahamR()" 
     (mouseleave)="onMouseLeaveAbrahamR()">
  <p>🎮 Abraham Requenes Aranda</p>
  <img src="img/Responsables/abrahamR.jpg" alt="">
</div>

      
      <p class="creator-info">👩‍🏫 Dra. Georgina Salazar Partida</p>
      <p class="creator-info">💻 Tecnologías Web</p>
      <p class="creator-info">🎓 ISC - 6to B</p>
      <p class="creator-info">📅 Fecha de Entrega: 23 de Junio del 2025</p>
    </div>
  </section>
  <br><br>
  